@import "base.scss";

.ModalGenerateAllTransactionStatement {
  background-color: #fff;
  padding-top: 78px;
  padding-left: 91px;
  padding-right: 91px;
  padding-bottom: 29px;
  border-radius: 8px;
  box-shadow: 4px 2px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 50%;
  @media (max-width: 991px) {
    padding-top: 28px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 29px;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
  .ModalGenerateAllTransactionStatement_title {
    margin-bottom: 40px;
  }

  .ModalGenerateAllTransactionStatement_close {
    width: 46px;
    height: 46px;
    position: absolute;
    right: 32px;
    top: 21px;
    cursor: pointer;

    @media (max-width: 767px) {
      width: 36px;
      height: 36px;
    }
  }

  .ModalGenerateAllTransactionStatement_info_wrap {
    background-color: #f2f5ff;
    padding: 16px;
    margin-bottom: 14px;

    @media (max-width: 767px) {
      flex-direction: column;
    }
    .ModalGenerateAllTransactionStatement_info_text {
      align-items: center;
      margin-bottom: 12px;
      color: #4c5563;
      font-size: 20px;

      @media (max-width: 991px) {
        font-size: 17px;
      }
    }
    .ModalGenerateAllTransactionStatement_info_bold {
      margin-right: 17px;
      color: #212121;
      font-size: 14px;
      font-weight: 500;
      @media (max-width: 991px) {
        font-size: 12px;
      }
    }
  }

  .ModalGenerateAllTransactionStatement_sale_text {
    align-items: center;
    margin-bottom: 6px;

    .ModalGenerateAllTransactionStatement_sale_bold {
      margin-right: 17px;
      color: #5f41b2;
      text-align: center;
      font-size: 50px;

      @media (max-width: 991px) {
        font-size: 15px;
      }
    }

    .ModalGenerateAllTransactionStatement_sale_normal {
      color: #4c5563;
      font-size: 15px;
      padding-right: 10px;

      @media (max-width: 991px) {
        font-size: 12px;
      }

      @media (max-width: 767px) {
        font-size: 11px;
      }
    }
  }

  .ModalGenerateAllTransactionStatement_input_warp {
    margin-top: 30px;
    .ModalGenerateAllTransactionStatement_input {
      .ModalGenerateAllTransactionStatement_input_item {
        .ModalGenerateAllTransactionStatement_input_item_fee {
          margin-top: -20px;
          margin-bottom: 25px;
          color: #4c5563;
          font-size: 15px;
          @media (max-width: 991px) {
            font-size: 12px;
          }
        }
      }

      .ModalGenerateAllTransactionStatement_input_text {
        color: $blue;
        font-size: 14px;
        margin-bottom: 10px;

        @media (max-width: 991px) {
          font-size: 12px;
        }
      }
      .ModalGenerateAllTransactionStatement_input_btn_wrap {
        .ModalGenerateAllTransactionStatement_input_btn {
          margin-top: 30px;
          max-width: 140px;
          margin-left: 16px;
        }
        .ModalGenerateAllTransactionStatement_input_btn_two {
          @extend .ModalGenerateAllTransactionStatement_input_btn;
          background-color: #fff;
          border-radius: 26px;
          border: 1px solid #4c5563;
          color: #4c5563;
        }
      }
    }
  }
}
