@import "base.scss";

.dashboard {
  width: 100%;
  .dashboard_wrap {
    .dashboard_sidebar {
      width: 20%;
      position: sticky;
      transition: all 0.3s linear;
      background-color: #fff;
      @media (max-width: 767px) {
        position: fixed;
        width: 45%;
        transform: translateX(-350px);
        z-index: 3;
      }
    }
    .dashboard_sidebar_open {
      transform: translateX(0px);
    }
    .dashboard_content {
      width: 80%;
      @media (max-width: 767px) {
        width: 100%;
        // padding: 20px;
      }
    }
  }
}
